.App {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#root, .App {
  width: 100%;
  height: 100%;
}

:root {
  --bg-color: rgba(150, 150, 150, 1);

  /* Square Colors:  background colors for the squares.*/
  --color-0: #eaeaea;

  /* Button Colors */
  --button-color-t: rgba(200, 200, 200, 1);
  --button-color-r: rgba(150, 150, 150, 1);
  --button-color-b: rgba(120, 120, 120, 1);
  --button-color-l: rgba(222, 222, 222, 1);

  /* Numbers define values that will be used throughout the CSS.
  --tile-size: 20px for example will set size of the grid squares. */
  --cols: 10;
  --rows: 10;
  --tile-size: 20px;
  --border-width: 5px;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.battleship-grid {
  margin: 2vmin;
  display: grid;
  /* background-color: hsl(200, 100%, 50%); */
  background-color: rgba(45, 182, 182, 0.514);
  grid-template-rows: repeat(10, 4.6vmin);
  grid-template-columns: repeat(10, 4.6vmin);
}

.battleship-grid > div > div {
  border: 1px solid hsla(0, 0%, 100%, .2);
  height: 4.6vmin;
  width: 4.6vmin;
}

.placed {
  background-color: red;
  opacity: 0.5;
}

.grid-computer {
  font-size: 16px;
  text-align: center;
  color: red;
  font-weight: 600;
}